* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Muli, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  background-color: #fcfcfd; }

.container {
  max-width: 1146px;
  padding: 0 20px;
  margin: auto; }

.small__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #56ccf2;
  margin-left: 35px;
  position: relative; }
  .small__title::before {
    content: "";
    background-image: url("../images/sub-title/sub-title-icon-dark.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px; }

.small__title-light {
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #56ccf2;
  margin-left: 35px;
  position: relative; }
  .small__title-light::before {
    content: "";
    background-image: url("../images/sub-title/sub-title-icon-light.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px; }

.wrapper {
  background-color: #fff; }

.header {
  height: 700px;
  position: relative;
  color: #fff; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 20%;
    width: 100%;
    height: 112%;
    -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
    background: #56ccf2;
    z-index: -1; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 980px; }
    .header__top .top__title {
      font-size: 32px;
      font-weight: 700; }
    .header__top .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none;
      padding: 0;
      width: 700px; }
    .header__top .nav__link {
      text-decoration: none;
      font-weight: 700;
      color: #fff; }
      .header__top .nav__link:hover {
        border-bottom: 2px solid #fcc304; }
    .header__top .nav__list li:last-child {
      margin-left: 135px;
      margin-right: 45px;
      border-bottom: 2px solid #fcc304; }
  .header .header__title {
    width: 750px;
    margin: 85px;
    margin-left: 100px; }
    .header .header__title .title__head {
      font-size: 64px;
      font-weight: 900;
      margin: 0; }
    .header .header__title .title__description {
      font-size: 24px;
      line-height: 150%; }
    .header .header__title .title__button {
      border: none;
      padding: 15px 65px;
      border-radius: 64px;
      background-color: #fff;
      color: #253757;
      font-weight: 700;
      cursor: pointer;
      outline: none; }
      .header .header__title .title__button:hover {
        background-color: #dedede; }
  .header--toggle {
    display: none;
    background-image: url("../images/sub-title/sub-title-icon-light.svg");
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: calc(50% - 30px / 2);
    cursor: pointer; }
  .header .toggle__input {
    display: none; }

@media screen and (max-width: 999px) {
  .header::before {
    right: 0;
    -webkit-transform: skew(0deg);
            transform: skew(0deg); }
  .header__top {
    width: 100%; }
    .header__top .nav__list {
      width: 600px; }
    .header__top .nav__list li:last-child {
      margin-left: 0;
      margin-right: 0; }
  .header .header__title {
    width: 100%;
    text-align: center;
    margin: 85px auto; } }

@media screen and (max-width: 768px) {
  .header {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header__top .top__title {
        margin: 20px 0; }
      .header__top .header__nav {
        opacity: 1;
        width: 100%; }
      .header__top .nav__list {
        margin: 0;
        width: 100%; }
      .header__top .nav__list li:last-child {
        margin-left: 0;
        margin-right: 0; } }

@media screen and (max-width: 480px) {
  .header {
    height: 700px;
    /*@if (toggle__input = checked) {
      .header__title {
        opacity: 0;
      }
    }*/ }
    .header__top .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 200px;
      background-color: #56ccf2; }
    .header__top .nav__list li:last-child {
      margin-left: 0;
      margin-right: 0; }
    .header .header__title {
      margin-top: 50px; }
      .header .header__title .title__head {
        font-size: 44px; }
      .header .header__title .title__description {
        font-size: 18px; } }

.slider {
  position: relative;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
  margin-bottom: -70px; }
  .slider__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .slider__photo .photo__block {
      position: relative;
      padding-right: 10px;
      padding-left: 10px;
      right: 10px; }
    .slider__photo .slider__arrows {
      background: #fcc304;
      border-radius: 50px;
      width: 160px;
      height: 62px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      position: absolute;
      top: calc(50% - 136px / 2);
      left: calc(-140px / 2); }
    .slider__photo .arrow {
      cursor: pointer; }
    .slider__photo .slide {
      height: 640px;
      width: 1146px; }
    .slider__photo .photo__text {
      position: absolute;
      bottom: 40px;
      left: 80px;
      width: 260px;
      font-weight: 900;
      font-size: 19px;
      line-height: 140%;
      color: #fff; }
      .slider__photo .photo__text .photo__title {
        display: block;
        font-weight: 800;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #56ccf2;
        font-size: 12px; }
    .slider__photo .slider__network {
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .slider__photo .network {
      display: inline-block;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      font-weight: 800;
      font-size: 12px;
      line-height: 150%;
      text-transform: uppercase;
      text-decoration: none;
      color: #253757; }
  .slider__description {
    margin: auto;
    margin-top: 160px;
    width: 740px; }
    .slider__description .slider__text {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #253757; }

@media screen and (max-width: 1150px) {
  .slider__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slider__photo .slider__network {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 300px;
      margin-top: 10px;
      height: auto; }
    .slider__photo .network {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .slider__photo .slide {
      width: 1000px;
      height: 600px; } }

@media screen and (max-width: 1300px) {
  .slider__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .slider__photo .slider__network {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 300px;
      margin-top: 10px;
      height: auto; }
    .slider__photo .network {
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .slider__photo .slider__arrows {
      top: calc(50% - 124px / 2);
      left: 10px; } }

@media screen and (max-width: 999px) {
  .slider .slider__photo img {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 768px) {
  .slider {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-bottom: 0; }
    .slider .slider__description {
      width: 100%;
      margin-top: 50px; }
    .slider__photo .photo__text {
      font-size: 12px;
      bottom: 10px;
      left: 20px;
      width: 200px; }
    .slider__photo .slider__arrows {
      left: calc(90% - 160px / 2);
      top: calc(95% - 64px);
      width: 100px;
      height: 52px; } }

@media screen and (max-width: 480px) {
  .slider {
    position: relative;
    margin-top: 100px; }
    .slider__photo .photo__text {
      font-size: 10px;
      width: 150px; }
    .slider__photo .slider__arrows {
      left: calc(100% - 160px / 2);
      top: calc(100% - 64px);
      width: 50px;
      height: 35px; } }

.about {
  margin-bottom: 160px; }
  .about__title {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    color: #253757;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .about__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 160px; }
    .about__cards .card {
      width: 265px; }
      .about__cards .card__title {
        margin-top: 60px;
        font-weight: 900;
        font-size: 19px;
        line-height: 140%;
        color: #253757; }
      .about__cards .card__text {
        margin-top: 32px;
        font-size: 16px;
        line-height: 150%;
        color: #334563; }

@media screen and (max-width: 999px) {
  .about__cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .about__cards .card {
      text-align: center;
      margin-right: 10px; } }

@media screen and (max-width: 480px) {
  .about {
    margin-bottom: 20px; }
    .about__title {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    .about__cards .card__title {
      margin-top: 15px;
      margin-bottom: 10px; }
    .about__cards .card__text {
      margin-top: 0;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 150%;
      color: #334563; } }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .services__content {
    width: 365px; }
  .services__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin: 20px 0 60px; }
  .services__text {
    font-size: 16px;
    line-height: 150%;
    color: #334563; }
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 540px;
    margin-top: 50px; }
    .services__list .list__item {
      width: 245px;
      height: 256px;
      -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
              box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
      text-align: center;
      padding: 62px 32px;
      margin-bottom: 120px;
      background-color: #fff;
      z-index: 2; }
    .services__list .list__item:nth-child(odd) {
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%); }
    .services__list .item__title {
      font-weight: 900;
      font-size: 40px;
      line-height: 150%;
      position: relative;
      margin: 0; }
      .services__list .item__title::before {
        content: "";
        width: 48px;
        height: 48px;
        opacity: 0.1;
        border-radius: 50%;
        position: absolute;
        -webkit-transform: translate(-25%, -30%);
                transform: translate(-25%, -30%); }
    .services__list .item__title--1 {
      color: #68d1f3; }
      .services__list .item__title--1::before {
        background-color: #68d1f3; }
    .services__list .item__title--2 {
      color: #fccc29; }
      .services__list .item__title--2::before {
        background-color: #fccc29; }
    .services__list .item__title--3 {
      color: #13d84e; }
      .services__list .item__title--3::before {
        background-color: #13d84e; }
    .services__list .item__title--4 {
      color: #f47676; }
      .services__list .item__title--4::before {
        background-color: #f47676; }

@media screen and (max-width: 999px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 768px) {
  .services__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
    .services__list .list__item {
      margin-bottom: 30px; }
    .services__list .list__item:nth-child(odd) {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

@media screen and (max-width: 480px) {
  .services {
    padding-top: 20px; }
    .services__content {
      width: 100%; } }

.section.features--wrapper {
  background-color: #56ccf2;
  overflow: hidden;
  margin-top: -150px; }

.features {
  padding: 165px 20px 0;
  position: relative; }
  .features--backgroung-img {
    position: absolute;
    top: -100px;
    right: 20px;
    width: 450px;
    height: 150%;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    overflow: hidden; }
    .features--backgroung-img::before {
      content: "";
      background-image: url("../images/features/features-bg.jpg");
      background-repeat: no-repeat;
      width: 300%;
      height: 100%;
      position: absolute;
      top: -10px;
      left: -200px;
      -webkit-transform: rotate(-25deg);
              transform: rotate(-25deg); }
  .features .small__title {
    color: #fff; }
  .features__content {
    width: 410px; }
  .features__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 70px; }
  .features__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    padding-right: 40px;
    margin-bottom: 60px; }
  .features__text {
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    width: 265px; }
    .features__text::before {
      content: "";
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 64px;
      height: 64px;
      left: 0;
      top: calc(50% - 64px / 2);
      border-radius: 50%; }
  .features .features__description:nth-of-type(1) .features__text::before {
    background-image: url("../images/features/features-item-icon-1.svg"); }
  .features .features__description:nth-of-type(2) .features__text::before {
    background-image: url("../images/features/features-item-icon-2.svg"); }
  .features .features__description:nth-of-type(3) .features__text::before {
    background-image: url("../images/features/features-item-icon-3.svg"); }

@media screen and (max-width: 999px) {
  .features--backgroung-img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    right: 0;
    width: 370px; }
    .features--backgroung-img::before {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

@media screen and (max-width: 768px) {
  .features {
    padding-bottom: 20px; }
    .features--backgroung-img {
      display: none; }
    .features__content {
      margin: auto; } }

@media screen and (max-width: 480px) {
  .features__content {
    width: 100%; }
  .features__title {
    margin-bottom: 40px; }
  .features__description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    padding-right: 0;
    text-align: center; }
  .features__text::before {
    top: -15px;
    left: calc(50% - 64px / 2); } }

.reviews {
  padding-top: 165px;
  height: 650px; }
  .reviews__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    width: 410px;
    margin-bottom: 80px; }
  .reviews__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reviews .review__card {
    width: 315px;
    text-align: center;
    padding: 80px 32px 60px;
    background: #fafafa;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 30px; }
    .reviews .review__card::after {
      content: "";
      width: 64px;
      height: 160px;
      position: absolute;
      top: 20px;
      left: calc(50% - 32px);
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
      border-radius: 50px; }
  .reviews .review__photo {
    width: 64px;
    height: 123px;
    border-radius: 50px;
    position: relative;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    overflow: hidden;
    margin: auto;
    z-index: 1; }
    .reviews .review__photo::before {
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      width: 200%;
      height: 100%;
      position: absolute;
      left: -40px;
      -webkit-transform: rotate(20deg) scale(-1, 1);
              transform: rotate(20deg) scale(-1, 1); }
  .reviews .review__text {
    font-size: 14px;
    line-height: 150%;
    font-style: italic;
    padding-bottom: 30px;
    position: relative; }
    .reviews .review__text::after {
      content: "";
      height: 2px;
      width: 64px;
      background-color: #56ccf2;
      position: absolute;
      bottom: 0;
      left: calc(50% - 64px / 2); }
  .reviews .review__name {
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    color: #152032;
    margin: 0;
    margin-top: 30px; }
  .reviews .review__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%; }
  .reviews .review__card:first-child .review__photo::before {
    top: -10px;
    height: 150%; }
  .reviews .review__card:first-child::after,
  .reviews .review__card:first-child .review__text::after {
    background-color: #79d7f5; }
  .reviews .review__card:first-child .review__position {
    color: #79d7f5; }
  .reviews .review__card:nth-child(2) .review__photo::before {
    left: -15px;
    top: 5px; }
  .reviews .review__card:nth-child(2)::after,
  .reviews .review__card:nth-child(2) .review__text::after {
    background-color: #fdcf34; }
  .reviews .review__card:nth-child(2) .review__position {
    color: #fdcf34; }
  .reviews .review__card:nth-child(3) .review__photo::before {
    left: -15px;
    top: 10px;
    width: 220%; }
  .reviews .review__card:nth-child(3)::after,
  .reviews .review__card:nth-child(3) .review__text::after {
    background-color: #f47676; }
  .reviews .review__card:nth-child(3) .review__position {
    color: #f47676; }
  .reviews .review__card:nth-child(1) .review__photo::before {
    background-image: url("../images/testimonials/testimonial-ava-1.jpg"); }
  .reviews .review__card:nth-child(2) .review__photo::before {
    background-image: url("../images/testimonials/testimonial-ava-2.jpg"); }
  .reviews .review__card:nth-child(3) .review__photo::before {
    background-image: url("../images/testimonials/testimonial-ava-3.jpg"); }

@media screen and (max-width: 999px) {
  .reviews {
    height: auto; } }

@media screen and (max-width: 480px) {
  .reviews {
    padding-top: 50px; }
    .reviews__title {
      width: 100%; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 96px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .contact__message {
    width: 650px; }
  .contact__form {
    margin-top: 100px; }
    .contact__form .form__input {
      width: 90%;
      border: none;
      border-bottom: 1px solid #e1e1e1;
      padding: 15px 0;
      margin-bottom: 45px;
      background-color: transparent; }
      .contact__form .form__input::-webkit-input-placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032; }
      .contact__form .form__input::-moz-placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032; }
      .contact__form .form__input:-ms-input-placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032; }
      .contact__form .form__input::-ms-input-placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032; }
      .contact__form .form__input::placeholder {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032; }
    .contact__form .form__button {
      padding: 15px 85px;
      background-color: #2f80ed;
      border-radius: 50px;
      border: none;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-top: 50px; }
      .contact__form .form__button:hover {
        background-color: #56ccf2;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
  .contact__info {
    font-style: normal;
    width: 380px; }
  .contact__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757; }
  .contact__phone {
    margin: 40px 0; }
  .contact__phone, .contact__address {
    font-weight: 800;
    font-size: 12px;
    line-height: 150%;
    color: #334563;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .contact .phone,
  .contact .address {
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    color: #56ccf2;
    display: block; }
  .contact .phone {
    text-decoration: none; }
  .contact__network {
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px; }
  .contact .network-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px; }
  .contact .network-icon--1 {
    background-image: url("../images/contact-us/icon-1.png"); }
  .contact .network-icon--2 {
    background-image: url("../images/contact-us/icon-2.png"); }
  .contact .network-icon--3 {
    background-image: url("../images/contact-us/icon-3.png"); }

@media screen and (max-width: 768px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__adress {
      margin-bottom: 20px; }
    .contact__message {
      text-align: center;
      margin: auto;
      width: 90%; }
    .contact__info {
      margin: auto;
      margin-top: 50px;
      width: 90%; }
    .contact__network {
      margin: auto; }
    .contact__form .form__button {
      padding: 15px 85px;
      background-color: #2f80ed;
      border-radius: 50px;
      border: none;
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-top: -10px;
      margin-bottom: 10px; }
      .contact__form .form__button:hover {
        background-color: #56ccf2;
        -webkit-transition: 0.3s;
        transition: 0.3s; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px; }
  .footer__design {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #253757; }
  .footer .nav__list {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px; }
  .footer .nav__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #253757; }
    .footer .nav__link:hover {
      border-bottom: 2px solid #fcc304; }

@media screen and (max-width: 999px) {
  .footer .nav__list {
    width: 500px; } }

@media screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px; }
    .footer__design {
      margin-top: 30px;
      margin-bottom: 30px; }
    .footer .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 200px;
      width: auto; } }

.results {
  padding: 320px 0 100px;
  text-align: center;
  position: relative; }
  .results__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    font-size: 48px; }
  .results__description {
    width: 750px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: auto;
    color: #334563;
    margin-bottom: 55px; }
  .results__button {
    padding: 15px 85px;
    background-color: #2f80ed;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .results__button:hover {
      background-color: #56ccf2;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .results .ellipses {
    position: absolute;
    width: 35%;
    height: 70%;
    bottom: 0; }
  .results .ellipses--right {
    right: 0; }
  .results .ellipse {
    position: absolute;
    border-radius: 50px;
    border: 3px solid transparent;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .results .ellipse--1,
  .results .ellipse--7,
  .results .ellipse--8 {
    height: 145px;
    width: 55px; }
  .results .ellipse--2,
  .results .ellipse--3,
  .results .ellipse--9,
  .results .ellipse--10 {
    height: 45px;
    width: 18px; }
  .results .ellipse--4,
  .results .ellipse--5,
  .results .ellipse--11,
  .results .ellipse--12 {
    height: 93px;
    width: 37px; }
  .results .ellipse--1 {
    top: 50%;
    right: 55%;
    border-color: #81e9a1; }
  .results .ellipse--2 {
    top: 10%;
    right: 40%;
    border-color: #fce493; }
  .results .ellipse--3 {
    top: 80%;
    right: 25%;
    border-color: #fce493; }
  .results .ellipse--4 {
    bottom: 0;
    left: 5%;
    border-color: #df8dfd; }
  .results .ellipse--5 {
    top: 10%;
    left: 15%;
    border-color: #f7aaaa; }
  .results .ellipse--6 {
    height: 67px;
    width: 26px;
    top: 60%;
    left: 0;
    border-color: #aae5f7; }
  .results .ellipse--7 {
    top: 20%;
    right: 30%;
    border-color: #81e9a1; }
  .results .ellipse--8 {
    top: 70%;
    right: 15%;
    border-color: #aae5f7; }
  .results .ellipse--9 {
    top: 10%;
    right: 5%;
    border-color: #df8dfd; }
  .results .ellipse--10 {
    bottom: 0;
    border-color: #df8dfd; }
  .results .ellipse--11 {
    top: 60%;
    left: 40%;
    border-color: #f7aaaa; }
  .results .ellipse--12 {
    right: 0;
    top: 40%;
    border-color: #fce493; }

@media screen and (max-width: 999px) {
  .results {
    padding-top: 30px; }
    .results .ellipse {
      display: none; } }

@media screen and (max-width: 768px) {
  .results {
    padding: 0 20px; }
    .results__description {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
